/* Body Styling */
body {
    background-color: #e3f2fd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Styling for the Weather Dashboard heading */
#bootstrap-overrides nav{
    border-bottom: 2px solid black;
}

/* City Buttons */
.cityButton {
    border: 2px solid black;
}


/* Styling for the current weather dashboard */
.jumbotron {
    background-color: plum;
    width: 100%;
    height: 300px;
    padding: 0px;
    padding-left: 30px;
    margin-top: 15px;
    border-radius: 5px;
    border: 2px solid black;
}

/* Styling for the UV Index number. Good, Moderate, Dangerous. */

.uviNumG {
    box-sizing: border-box;
    background-color: green;
    width: 70px;
    height: 25px;
    float: right;
    text-align: center;
    margin-left: 5px;
    color: white;
    border-radius: 10px;
}

.uviNumY {
    box-sizing: border-box;
    background-color: gold;
    width: 70px;
    height: 25px;
    float: right;
    text-align: center;
    margin-left: 5px;
    color: white;
    border-radius: 10px;
}

.uviNumR {
    box-sizing: border-box;
    background-color: red;
    width: 70px;
    height: 25px;
    float: right;
    text-align: center;
    margin-left: 5px;
    color: white;
    border-radius: 10px;
}

#uvi {
    float: left;
}

/* Styling for the 5 day forecast. */

.futBox {
    text-align: center;
    box-sizing: border-box;
    background-color: peachpuff;
    width: 100%;
    margin-bottom: 5%;
    padding-left: 0;
    padding-right: 0;
}

#bootstrap-overrides .futBox{
    border: 2px solid black;
    border-radius: 5px;
}

#fbox1,
#fbox2,
#fbox3,
#fbox4 {
    margin-left: 10px;
}